.ListContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.ListBox, .ListBoxDone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    border-radius: 10px;
}

.ListBox {
    border-bottom: 1px solid #08808e;
}

.ListBoxDone {
    border-bottom: 1px solid #c72d3e;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.ListName, .ListNameDone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ListName{
    background-color: #08808e;
}

.ListNameDone {
    background-color: #c72d3e;
}

.ListName>h3 {
    margin: 10px;
    color: #a2c5c4;
}

.ListNameDone>h3 {
    margin: 10px;
    color: #ed9690;
}

.Todo {
    padding-left: 20px;
}

.IkonBox {
    display: flex;
    justify-content: space-around;

}

.Icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}

.Icon, .IconDone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    height: 3rem;
    width: 3rem;
}

.Icon:hover {
    background-color: #609da0;
}

.IconDone:hover {
    background-color: #f0786f;
}

.false, .true {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 1.2em;
    border-radius: 7px;
    margin: 5px;
}

.false {
    color: #08808e;
    background-color: #a2c5c4;
}

.true {
    color: #c72d3e;
    background-color: #ed9690;
}

@media screen and (min-width: 1024px) {

    .ListContainer {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .ListBox, .ListBoxDone {
        width: 50%;
    }
}